<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/tyler.css" />
    <title>Results</title>
</head>
<body>
    <h1>Results</h1>
    <div>
    <table>
        <tr><td>Weight:</td>
        <td><%= weight %></td></tr>
        <tr><td>Item type:</td>
        <td><%- type %></td></tr>
        <tr><td>Rate:</td>
        <td><%= rate %></td></tr>
    </table>
    </div>
</body>
</html